{% extends "secret/base.html" %}

{% block title %}BYR树洞-500{% endblock %}
{% block content %}
<session>
<header class="jumbotron subhead" id="overview">
    <div class="inner">
        <div class="row-fluid">
            <div class="span8">
                <h1>
                    500 Internal Server Error 
                </h1>
                <p class="lead">
                    悲剧啊！
                </p>
            </div>
        </div>
    </div>
</header>
</session>

<session>
    <div class="row-fluid">
        <div class="span6 offset2">
            <img src="/static/img/tragedy.jpg"/>
        </div>
    </div>
</session>

{% endblock %}
