{% extends "secret/base.html" %}

{% block title %}BYR树洞-FAQ{% endblock %}
{% block content %}
<session>
<header class="jumbotron subhead" id="overview">
    <div class="inner">
        <div class="row-fluid">
            <div class="span4">
                <h1>
                    About me
                </h1>
                <p class="lead">
                    关于我
                </p>
            </div>
        </div>
    </div>
</header>
</session>

<session>
<div>
    <h2>我是Moody&nbsp;_"Kuuy"_&nbsp;Wizmann</h2>
    <p>BYR树洞的开发者。</p>
    <p>用无聊的时间搭出来这个一个小东西，just&nbsp;for&nbsp;fun。</p>
    <p>由于本人是一个什么都不会的渣渣～而且极端不务正业，所以如果你发现这个App有什么Bug，欢迎发邮件到kuuy#foxmail.com帮我指出。</p>
    <h4><b>然后。。。求内推。。。没工作的伤不起。。。</b></h4>
    <hr/>
    
    <h2>感谢</h2>
    <p>感谢人民感谢党，感谢我们的小组长。</p>
    <hr/>

    <h2>正经一点的感谢</h2>
    <p>感谢Python,Django,Flat-ui,Pillow,Django-simple-captcha...的作者，你们的工作让一切都美好起来</p>
    <p>感谢所有让生活充满阳光的人～感谢生活～</p>
    <hr/>

    <a name="browser-compatibility" id="browser-compatibility"></a>
    <h2>浏览器兼容性测试</h2>
    <ol>
        <li>
            <p>[OK]&nbsp;Chrome26(Ubuntu,&nbsp;1366*768,&nbsp;1400*900)--(Wizmann)</p>
        </li>
        <li>
            <p>[OK]&nbsp;Firefox20(Ubuntu,&nbsp;1366*768,&nbsp;1400*900)--(Wizmann)</p>
        </li>
        <li>
            <p>[OK]&nbsp;Safari/Chrome(iPad,&nbsp;横屏)--(Wizmann)</p>
        </li>
        <li>
            <p>[OK]&nbsp;Safari/Chrome(iPad,&nbsp;竖屏)--(Wizmann)</p>
        </li>
        <li>
            <p>[OK]&nbsp;Iceweasel21(Debian,&nbsp;1366*768)--(Violet) </p>
        </li>
    </ol>
    <hr/>

    <h2>贡献者</h2>
    <ol>
        <li>
            <p>Moody&nbsp;_"Kuuy"_&nbsp;Wizmann&nbsp;&nbsp;(BYR树洞App唯一开发者)</p>
        </li>
        <li>
            <p>@格子强迫症&nbsp;&nbsp;解决了Navbar在小页面响应无法打开的问题</p>
    </ol>
    <hr/>

    <h2>资助者</h2>
    <p>还木有。。。
    <hr/>
</div>
</session>
{% endblock %}

