<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}BYR树洞{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/flat-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/docs.css"/>
        {% for css_file in css_files %}
            <link rel="stylesheet" type="text/css" href="{{ css_file }}"/>
        {% endfor %}

        {% for extra in extras %}
            {{ extra|safe }}
        {% endfor %}

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                    </button>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a class="brand" href="/secret/">
                                    BYR树洞<sup>Alpha</sup>
                                </a>
                            </li>
                            <li>
                                <a href="/secret/">
                                    首页
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    秘密
                                </a>
                                <ul>
                                    <li>
                                        <a href="/secret/profile/?q=hot">
                                            最热
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/secret/profile/?q=new">
                                            最新
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="/secret/preview/" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="为了防止一些不适宜的言论，新发布的秘密都要经过审核哦～">
                                    审核 
                                    {% if user.is_authenticated %}
                                        <span class="navbar-unread" id="unpreview">{{ preview_num }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a href="/secret/faq/">FAQ</a>
                            </li>
                            <li>
                                <a href="/secret/aboutme/">
                                    关于
                                </a>
                            </li>
                            <li>
                                <a href="/secret/chatboard/">
                                    留言板
                                </a>
                            </li>
                        </ul>
                        <ul class="nav pull-right">
                            {% if not user.is_authenticated %}
                            <li>
                                <a href="/secret/login" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="秘密可以匿名发布，我们不会收集您的任何个人信息。登录后可以点亮他人的秘密，帮助他们把想说的话让更多人看到。">登录/注册</a>
                            </li>
                            {% else %}
                            <li>
                                <a>
                                    {{ user.username }}
                                </a>
                                <ul>
                                    <li>
                                        <a href="/secret/me/">我的秘密</a>
                                    </li>
                                    <li>
                                        <a href="/secret/logout/">登出</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            {% block content %} {% endblock %}
            <p>
                <span class="label label-info">建议</span>
                推荐使用Google-Chrome浏览器。在以下<a href="/secret/aboutme#browser-compatibility">浏览器</a>测试通过。<b>码农何必为难码农</b>，你们懂的。
            </p>
            <footer>
                <p>
                    <i>Loved of family. Loved of GOD.</i>
                </p>
                <p>
                    By Moody _"Kuuy"_ Wizmann
                </p>
                <p>
                    @Maerlyn's Rainbow
                </p>
                <p>
                    The last wizard in the world.
                </p>
            </footer>
            <div id="clicki_widget_5805" title=""></div>
        </div>
        <!-- Load JS here for greater good =============================-->
        <script src="/static/js/jquery-1.8.2.min.js"></script>
        <script src="/static/js/bootstrap-min.js"></script>
        <script src="/static/js/jquery-ui-1.10.0.custom.min.js"></script>
        <script src="/static/js/jquery.dropkick-1.0.0.js"></script>
        <script src="/static/js/custom_checkbox_and_radio.js"></script>
        <script src="/static/js/custom_radio.js"></script>
        <script src="/static/js/jquery.tagsinput.js"></script>
        <script src="/static/js/bootstrap-tooltip.js"></script>
        <script src="/static/js/bootstrap-alert.js"></script>
        <script src="/static/js/jquery.placeholder.js"></script>
        <script src="/static/js/application.js"></script>
        <script src="/static/js/secret/base.js"></script>

        {% for js_file in js_files %}
            <script src="{{ js_file }}"></script>
        {% endfor %}

        <script type='text/javascript'>
        (function() {
            var c = document.createElement('script'); 
            c.type = 'text/javascript';
            c.async = true;
            c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/49052';
            var h = document.getElementsByTagName('script')[0];
            h.parentNode.insertBefore(c, h);
        })();
        </script>
        <!--[if lt IE 8]>
          <script src="js/icon-font-ie7.js"></script>
          <script src="js/icon-font-ie7-24.js"></script>
        <![endif]-->
    </body>
</html>
