{% extends "secret/base.html" %}

{% block title %}BYR树洞-FAQ{% endblock %}
{% block content %}
<session>
<header class="jumbotron subhead" id="overview">
    <div class="inner">
        <div class="row-fluid">
            <div class="span4">
                <h1>
                    FAQ
                </h1>
                <p class="lead">
                    Frequently asked questions 
                </p>
            </div>
        </div>
    </div>
</header>
</session>
<session>
<ol>
    <h2><li>BYR树洞是什么?</li></h2>
    <br/>
    <h4><del>是Wizman的第一个Django Web应用，写着玩的</del></h4>
    <h4>BYR树洞是一个可以让大家倾诉心情的好地方呀~好萌的是不是~</h4>
    <hr/>

    <h2><li>BYR树洞是不是免费的?</li></h2>
    <br/>
    <h4>到可以预见的未来内，BYR树洞是不会对用户收费的。</h4>
    <h4>不过因为Web应用要承担相应的服务器费用，所以希望有能力的同学提供一些捐赠，用来购买托管本应用的云服务，金额不限，能维护服务器的费用就OK。具体可以发邮件到kuuy#foxmail.com。捐赠者的名字会被列在本站醒目的位置，并且Wizmann会选择性的满足你们的一些小愿望什么的 :-)
    </h4>
    <hr/>

    <h2><li>秘密的排名是如何计算的?</li></h2>
    <br/>
    <h4>最近秘密是按秘密发布的时间来排序的，最热的秘密是按秘密的热度进行排序的，更热门的秘密会更靠前。</h4>
    <hr/>

    <h2><li>秘密的热度是怎么计算的?</li></h2>
    <br/>
    <h4>秘密的热度有一个相应的热度算法，与秘密的发布时间以及点亮秘密的人数有关哦～</h4>
    <h4>具体算法嘛。。。保密！（乃们放心，一个面算法工程师面成煞笔的弱菜是不会有什么神级算法的。。）
    </h4>
    <hr/>

    <h2><li>我可以获得BYR树洞的源代码吗?</li></h2>
    <br/>
    <h4>Wizmann有过考虑要把代码发布在github上呢。。。</h4>
    <h4>不过现在代码在gitcafe上，是私有项目～</h4>
    <hr/>

    <h2><li>为什么我发表秘密之后并没有在秘密列表里展示?</li></h2>
    <br/>
    <h4>因为新发布的秘密需要进行<a href="/secret/preview/">审核</a>，防止一些不好的东西展示给大家。</h4>
    <h4>审核的门槛很低的，算法进行过特殊处理哦～快感谢我~</h4>
    <hr/>

    <h2><li>BYR树洞的浏览器兼容性如何？支持IE6么？</li></h2>
    <br/>
    <h4>BYR树洞使用了Bootstrap的一个衍生版进行WebUI开发，所以还是能很不错的保证UI的兼容性。</h4>
    <h4>亲爱的们还是用Chrome吧，金山猎豹和360<del>不</del>安全浏览器也成，码农何苦为难码农。
    <h6><a href="/secret/aboutme#browser-compatibility">点我查看不同浏览器的测试结果</a></h6>
    <hr/>

    <h2><li>为啥验证码这么多。。。</li></h2>
    <br/>
    <h4>为了避免恶意用户攻击这个应用，毕竟是托管在云上的，不可能对服务做太多的防护，只好用验证码了。</h4>
    <h4>不过验证码也是经过优化的，很简单的数学计算~</h4>
    <hr/>

    <h2><li>我有一些好的想法！</li></h2>
    <br/>
    <h4>有好的想法的同学可以发邮件到kuuy#foxmail.com。</h4>
    <h4>如果你的想法被采用了，你的名字会出现在贡献者的名单上哦～</h4>
    <hr/>

    <h2><li>To be continued...</li></h2>
</ol>
</session>
<hr/>
{% endblock %}
