{% extends "secret/base.html" %}

{% block title %}BYR树洞-首页{% endblock %}
{% block content %}
<header class="jumbotron subhead" id="overview">
    <div class="inner">
        <h1>BYR树洞</h1>
        <p class="lead">Say what you want.</p>
    </div>
</header>
<session>
{% load widget_tweaks %}
    <div class="row-fluid">
        <form action="/secret/" method="POST">
            <div class="span2">
                <div>
                    <img src="/static/img/logo.png"/>
                </div>
            </div>
            <div class="span10 pull-right">
                {{ secret_form.content|attr:"maxlength:140" }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 pull-right">
                {{ secret_form.captcha|attr:"placeholder:请输入上面算式的结果" }}
                <input type="submit" class="btn btn-success btn-large btn-block" value='发布'/>
            </div>
            <div class="span2 pull-right">
                <label class="checkbox checked" for="id_is_public">
                    <span class="icon"></span>
                    <span class="icon-to-fade"></span>
                    {{ secret_form.is_public|attr:"checked:true" }}
                        公开发表
                </label>
                <label class="checkbox checked" for="id_is_anony">
                    <span class="icon"></span>
                    <span class="icon-to-fade"></span>
                    {{ secret_form.is_anony }}
                        匿名
                </label>
            </div>
            {% if secret_form.errors %}
            <div class="span7 pull-right">
                <div class="alert alert-error">
                    {% for field in secret_form %}
                        {% if field.errors %}
                            <li>{{ field.name }} {{ field.errors|striptags }}</li>
                        {% endif %}
                    {% endfor %}
                    {% for error in secret_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</session>
<hr/>
{% endblock %}
