{% extends "secret/base.html" %}

{% block title %}BYR树洞-用户登录{% endblock %}

{% block content %}
<session>
    <header class="jumbotron subhead" id="overview">
        <div class="inner">
            <div class="row-fluid">
                <div class="span8">
                    <h1>
                        BYR树洞-用户登录
                    </h1>
                </div>
            </div>
        </div>
    </header>
</session>
<hr/>
<session>
    <div class="row-fluid">
        <div class="span3">
                <img src="/static/img/logo.png" alt="Welcome to BYR-Treehole">
                <h4>Welcome to <small>BYR-Treehole</small></h4>
        </div>
        {% load widget_tweaks %}
        <div class="span5">
            <div class="login-form">
                <form action="/secret/login/" method="POST">
                    <div class="control-group">
                        {{ auth_form.username|attr:"id:login-name"|attr:"placeholder:Enter your name"|attr:"class:login-field" }}
                    </div>
                    <div class="control-group">
                        {{ auth_form.password|attr:"id:login-pass"|attr:"placeholder:Password"|attr:"class:login-field"|attr:"type:password" }}
                    </div>
                    <div class="control-group">
                        {{ auth_form.captcha|attr:"placeholder:请输入上面算式的结果" }}
                    </div>
                    {% if auth_form.errors %}
                    <div class="alert alert-error">
                        {% for field in auth_form %}
                            {% if field.errors %}
                                <li>{{ field.name }} {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for error in auth_form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <input type="submit" class="btn btn-primary btn-large btn-block" value="登录"></input>
                    {# <a class="login-link" href="#">Lost your password?</a> #}
                </form>
            </div>
        </div>
    <div class="span3">
          <div class="tile">
            <img class="tile-image big-illustration" alt="" src="/static/images/illustrations/compass.png">
            <h3 class="tile-title">新来的？</h3>
            <p>成为注册用户，点亮他人的秘密</p>
            <a class="btn btn-danger btn-large btn-block" href="/secret/register">注册</a>
          </div>
        </div>
    </div>
</session>
<br>

{% endblock %}
