{% extends "secret/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% load widget_tweaks %}
<header class="jumbotron subhead" id="overview">
    <div class="inner">
        <div class="row-fluid">
            <div class="span4">
                <h1>
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>
</header>
<hr/>

{% if secret_list|length == 0 %}
<div class = "row-fluid">
    <div class="span3">
        <img src="/static/img/empty.gif">
    </div>
    <div class="span7 offset1">
        <h2>木有了。。。<a href="/secret/">发一个？</a></h2>
    </div>
</div>
<hr/>
{% else %}
{% for secret in secret_list %}
<div class="secret" hot={{ secret.rank_val }}>
    <div class="content">
        <p>秘密#{{ secret.id }}</p>
        <p>{{ secret.content }}</p>
    </div>
    <div class="row-fluid status">
        <div class="span4">
            <p>
            {% if secret.is_public %}
                被点亮了{{ secret.star }}次 
                |
                热度:
                    {% if secret.rank_val < 45000 %}
                         冷冷清清
                    {% elif secret.rank_val > 80000 %}
                         热门
                    {% else %}
                        还不错
                    {% endif %}
                |
                {% if secret.rank_val < 19000 %}
                    在审核中哦～
                {% endif %}
            {% else %}
                未公开
            {% endif %}
            </p>
        </div>
        <div class="span8">
            <div class="progress progress-success progress-striped" style="margin:2px 0 9px 0;">
                <div class="bar" style="width:{{ secret.mark }}%" ></div>
            </div>
        </div>
    </div>
</div>
<hr/>
{% endfor %}
<hr/>
{% endif %}

<center>
    <ul class="pager">
        <li><a href="{{ pre_page_url }}">前一页</a></li>
        <li><a href="{{ next_page_url }}">后一页</a></li>
    </ul>
</center>
{% endblock %}
