{% extends "secret/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<header class="jumbotron subhead" id="overview">
    <div class="inner">
        <div class="row-fluid">
            <div class="span4">
                <h1>
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>
</header>
<hr/>
{% load widget_tweaks %}


{% if not user.is_authenticated %}
<div class="row-fluid">
    <div class="alert alert-block alert-error fade in">
        <h3 class="alert-heading">请先登录或注册</h3>
        <br/>
        <p> 只有注册用户才可以审阅/点亮别人的秘密哦～ </p>
        <hr/>
        <div class="row-fluid">
            <div class="span2">
                <a class="btn btn-danger btn-large btn-block" href="/secret/login">登录</a> 
            </div>
            <div class="span2">
                <a class="btn btn-large btn-block" href="/secret/register">注册</a>
            </div>
        </div>
    </div>
{% else %}
    {% if secret == "None" %}
    <div class="row-fluid">
        <div class="span3">
            <img src="/static/img/awesome.gif"/>
        </div>
        <div class="span8">
            <h2>你已经审核完所有的新秘密</h2>
            <h2>去看看<a href="/secret/profile/?q=hot">热门秘密</a>，或者<a href="/secret/profile/?q=new">最新秘密</a>吧～</h2>
        </div>
    </div>
    <hr/>
    {% else %}
    <div class="row-fluid secret" rank_val={{ secret.rank_val }}>
        <p>秘密#{{ secret.id }}</p>
        <p>
            {{ secret.content }}
        </p>
        <p class="pull-right">
            {% if secret.author %}
                -- 秘密 by {{ secret.author }} @ {{ secret.c_time }}
            {% else %}
                -- 秘密 by 匿名用户 @ {{ secret.c_time }}
            {% endif %}
        </p>
    </div>
    <hr/>
    <div class="row-fluid preview" sid={{ secret.id }}>
        <div class="span4">
            <a class="btn btn-large btn-block btn-success preview-btn" ptype="awesome">
                好顶赞~
            </a>
        </div>
        <div class="span4">
            <a href="#" class="btn btn-large btn-block btn-info preview-btn" ptype="good">
                还可以:-)
            </a>
        </div>
        <div class="span4">
            <a class="btn btn-large btn-block btn-danger preview-btn" ptype="bad">
                差评!
            </a>
        </div>
    </div>
    <hr/>
    {% endif %}
{% endif %}

{% endblock %}
