{% extends "secret/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<header class="jumbotron subhead" id="overview">
    <div class="inner">
        <h1>
            {{ title }}
        </h1>
    </div>
</header>
<hr/>
{% load widget_tweaks %}

{% if action == "new" %}
<div class="alert alert-success">
    <a class="close" data-dismiss="alert">×</a>
    您发表的秘密正在被审核～审核通过后就可以显示在这里了～
</div> {% endif %}

{% if secret_list|length == 0 %}
<div class="row-fluid">
    <div class="span3">
        <img src="/static/img/gosh.gif"/>
    </div>
    <div class="span8">
        <h2>
            没有秘密了，您可以试试<a href="/secret/preview/">审核新秘密</a>~
        </h2>
    </div>
</div>
{% endif %}

{% for secret in secret_list %}
<div class="row-fluid secret" id="{{ secret.id }}" hot="{{ secret.rank_val }}">
    <div class="span1">
        <div class="star" status="{{ secret.status }}" sid="{{ secret.id }}">
        </div>
        <div class="command">
            <p>{{ secret.star }}</p>
            <!-- <a href="#">举报</a> -->
        </div>
    </div>
    <div class="span11 content" sid={{ secret.id }}>
        {% if is_ant %}
            <a class="fui-cross-24 pull-right" sid="{{ secret.id }}"></a>
        {% endif %}
        <p>秘密#{{ secret.id }}
        <span class="hidden-field">#BYR树洞-[http://is.gd/8TC4K2]#</span></p>
        <p class="content-detail">
            {{ secret.content }}
        </p>
        <div class="content-bottom">
            <img class="rrshare" src="/static/img/rrshare.png" />
            <div class="pull-right">
                <p class="content-time">
                    {% if secret.author %}
                        -- 秘密 by {{ secret.author }} @ {{ secret.c_time }}
                    {% else %}
                        -- 秘密 by 匿名用户 @ {{ secret.c_time }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<center>
    <ul class="pager">
        <li><a href="{{ pre_page_url }}">前一页</a></li>
        <li><a href="{{ next_page_url }}">后一页</a></li>
    </ul>
</center>
{% endblock %}
