{% extends "secret/base.html" %}

{% block title %}BYR-树洞-用户注册{% endblock %}

{% block content %}
<session>
    <header class="jumbotron subhead" id="overview">
        <div class="inner">
            <div class="row-fluid">
                <div class="span8">
                    <h1>
                        BYR树洞-用户注册
                    </h1>
                </div>
            </div>
        </div>
    </header>
</session>
<hr/>
{% load widget_tweaks %}
<session>
    <div class="row-fluid">
        <div class="span4">
            <form action="/secret/register/" method="POST">
                <div class="control-group"> 
                    {{ auth_form.username|attr:"id:login-name"|attr:"placeholder:Enter your name"|attr:"class:login-field" }}
                </div>
                <div class="control-group">
                    {{ auth_form.email|attr:"id:login-name"|attr:"placeholder:Email"|attr:"class:login-field" }}
                </div>
                <div class="control-group">
                    {{ auth_form.password1|attr:"id:login-pass"|attr:"placeholder:Password"|attr:"class:login-field"|attr:"type:password" }}
                </div>
                <div class="control-group">
                    {{ auth_form.password2|attr:"id:login-pass"|attr:"placeholder:Repeat Password"|attr:"class:login-field"|attr:"type:password" }}
                </div>
                <div class="control-group">
                    {{ auth_form.captcha|attr:"placeholder:请输入上面算式的结果"|attr:"class:span3" }}
                </div>
                {% if auth_form.errors %}
                    <div class="alert alert-error">
                        {% for field in auth_form %}
                            {% if field.errors %}
                                <li>{{ field.name }} {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for error in auth_form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                <div>
                    <input type="submit" class="btn btn-danger btn-large btn-block span8" value="注册"/>
                </div>
            </form>
        </div>
    </div>
</session>
<hr/>
{% endblock %}

