{% extends "secret/base.html" %}

{% block title %}BYR树洞-留言板{% endblock %}

{% block content %}
<session>
<header class="jumbotron subhead" id="overview">
    <div class="inner">
        <div class="row-fluid">
            <div class="span8">
                <h1>
                    留言板
                </h1>
                <p class="lead">
                    
                </p>
            </div>
        </div>
    </div>
</header>
</session>

<session>
    <div id="clicki_widget_5792" ></div>
</session>
<hr/>

{% endblock %}
